<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FileHub</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <section>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">FileHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </section>
    <section class="margin-top bg-gradient-light">
      <h2 class="text-center">Upload a file</h2>
      <div class="container ">
          <div class="form-row justify-content-center">
            <div class="col-md-6">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="id_text">Text:</label>
                  <input type="text" name="text" class="form-control" maxlength="100" id="id_text" placeholder="eg. Some text"required>
                  <div class="invalid-feedback">
                    Please add text.
                  </div>

                </div>
                <div class="form-group">
                  <div class="form-group col-md-3">
                    <label for="id_number">Number:</label>
                    <input type="number" name="number" class="form-control" id="id_number" placeholder="1" required>
                    <div class="invalid-feedback">
                      Please add numbers only.
                    </div>
                  </div>
                </div>
                  <div class="form-group">
                    <div class="form-control"><label for="id_file">File:</label>
                      <input type="file" name="file" readonly="readonly" required="" id="id_file">
                      <input type="hidden" name="unique_identifier" value="" id="id_unique_identifier">
                      <input type="hidden" name="initial-unique_identifier" value="" id="initial-id_unique_identifier">
                      <div class="invalid-feedback">
                        Please upload a file (eg. txt, pdf).
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" value="Submit">Upload</button>
              </form>
            </div>
          </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
